<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clan Test</title>
    <link rel="icon" href="img/valpo1.png" type="image/png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a class="flex" href="index.html"><img class="icon" src="img/home.svg" alt="home"></a>
        <p class="title">Calendario</p>
        <a class="flex" href="person.html"><img  class="icon" src="img/admin.svg" alt="admin"></a>
    </nav>

    <div style="display: flex; align-items: center; justify-content: center;">
        <!--<iframe src="https://calendar.google.com/calendar/embed?src=76dd5042717c46c8a48f61d5f6b6625a4714aa22ff509271f920731554cc1e69%40group.calendar.google.com&ctz=UTC" style="border: 0" width="70%" height="700"></iframe>
    -->
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FRome&showPrint=0&showTz=0&title=Calendario%20Clan%202024-2025&src=YTczNTU3ZWQxODcyNDAzOTZiYmIxMWQ2NmNmZjQ0Mjc1OTg2NTU0NzkwZjUxMDdiMDMwZjUxZjcyOGI3MmZjOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23F4511E" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</body>
</html>